[Desktop Entry]
Version=1.0
Type=Application
Name=Contest SDR
Path=/opt/contest-sdr
Exec=./vhf_transceiver.py
Categories=Development;
Icon=audio-headset
