[Desktop Entry]
Version=1.0
Type=Application
Name=Contest SDR (LimSDR)
Path=/opt/contest-sdr
Exec=./lime_transceiver.py
Categories=Development;
Icon=audio-headset
